node_modules

#python venv files
backend/venv
backend/__pycache__
.bolt

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc
backend/routers/__pycache__
backend/models/__pycache__
backend/__pycache__
backend/models/__pycache__/tasks.cpython-312.pyc
backend/routers/__pycache__/kanban.cpython-312.pyc
